body {
    background-color: #e6e6e6;
    color: #333;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 0;
}
h1, h2, h3, h4, p, span, ul {
    text-align: left;
}
h1 {
    font-size: 5em;
    font-weight: 300;
    padding: 0;
    margin: 0;
}
h2, h3, h4 {
    font-weight: 400;
    margin: .5em 0;
    padding: 0;
}

.InnerContainer p {
    font-size: 1.25em;
    margin: 0 1em;
}
a {
    color: #6699ff;
    text-decoration: none;
}
.cropped {
    max-width: 800px;
    display: inline-block;
}

.position {
    float: right;
    font-size: 1em;
    margin-left: .1em;
    max-width: 45%;
    text-align: right;
}
.description, .employer {
    float: left;
    margin-right: .1em;
    max-width: 70%;
    text-align: left;
}
.ContactLink {
    float: right;
}
.ContactMethod {
    float: left;
}
ul {
    margin: .5em 0;
    overflow: auto;
    padding: 0;
}
#footer {
    clear: both;
    max-width: 100%;
    overflow: hidden;
}
.ProfileImage {
    float: left;
    margin-right: 1em;
    width: 5em;
}
.CenteringContainer {
    display: table;
}
.CenteredElement {
    display: table-cell;
    vertical-align: middle;
}
.Card {
    background-color: #fff;
    box-shadow: 0 .5em 1em #888;
    vertical-align: top;
}
.quoteBlock {
    font-style: italic;
}
.quoteBlock .source p {
    font-size: 1.25em;
    margin-top: .5em;
    text-align: right;
}
@media (min-width: 600px) {
    h1 a {
        display: inline-block;
        padding: 0.25em 0.75em;
        text-decoration: none;
    }
    .ListContainer {
        display: inline-block;
        margin: 1em;
        max-width: 325px;
        min-width: 250px;
        padding: 0 1em 1em 1em;
        width: 30%;
    }
    .InnerContainer {
        padding: 1em 2em;
        overflow: auto;
    }
    .quoteBlock .quote {
        font-size: 2em;
        padding-left: .75em;
    }
    .extLink {
        background: #fff;
        display: block;
        float: left;
        margin: 0.5em 1em;
        min-height: 1em;
        min-width: 250px;
        max-width: 300px;
    }
}
@media (max-width: 600px) {
    h1 a {
        display: inline-block;
        padding: 0.25em;
        text-decoration: none;
    }
    .ListContainer {
        display: inline-block;
        margin: 1em 0;
        padding: 0 1em 1em 1em;
        width: 85%;
    }
    .InnerContainer {
        padding: 1em .5em;
        overflow: auto;
        max-width: 100%;
        text-align: center;
    }
    .quoteBlock .quote {
        font-size: 1.25em;
        padding-left: 0;
    }
    .extLink {
        background: #fff;
        display: block;
        float: left;
        margin: 0.25em 0;
        min-height: 1em;
        width: 100%;
    }
}
.extLink .LeadLetter {
    background: #333;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    display: table-cell;
    font-family: 'Cinzel', serif;
    font-size: 2em;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}
.extLink .InnerText {
    display: table-cell;
    font-size: 1.5em;
    padding: .25em 1em;
    text-align: center;
    vertical-align: middle;
}
.Google .LeadLetter {
    background-image: url('noindex/pace-icons/google+.png');
}
.Blogger .LeadLetter { 
    background-image: url('noindex/pace-icons/rss.png');
}
.Twitter .LeadLetter {
    background-image: url('noindex/pace-icons/twitter.png');
}
.Facebook .LeadLetter {
    background-image: url('noindex/pace-icons/facebook.png');
}
.LastFM .LeadLetter {
    background-image: url('noindex/pace-icons/last-fm.png');
}
.YouTube .LeadLetter {
    background-image: url('noindex/pace-icons/youtube.png');
}