  h1 .PageTitle {
      
    font-family: 'Orbitron', arial, serif;
    
    font-size: 60px;
    
    color:#666666;
    
    text-align:right;
    
    padding-right:40px;
    
    display:block
        
}

  a.PageTitle {
      
      text-decoration:  none;
      
}

  a.extLink {

    display : inline-block;
    
    text-decoration:none;
    
    width:200px;
    
    line-height:30px;
    
    vertical-align: middle;
    
    text-align:center;
    
    border : 1px solid #333333;
    
    background-color : #333333;
    
    color:#eeeeee;
    
     -moz-border-radius: 10px;
    
     -webkit-border-radius: 10px;
    
     -khtml-border-radius: 10px;
    
    font-family: 'Ubuntu', arial, serif;
    
    /* font-weight: bold; */

}

  a.extLink:Hover {
-webkit-transition-property:background-color, border;  
 -webkit-transition-duration: .5s, .5s;  
 -webkit-transition-timing-function: ease-in, ease-in; 


}

  .sidebar {
      width:200px;
      float:left;
}

  .content {
      
      position: relative;
      
      color:#ffffff;
      
      float:left;
      
      padding-left: 5%;
}

  .padding {

height:5px;

}

  a.Google:hover {

background-color: #0266C8;

border : 1px solid #0266C8;

}

a.Twitter:hover {

background-color: #33CCFF;

border : 1px solid #33CCFF;

}

  a.Facebook:hover {

background-color: #3B5998;

border : 1px solid #3B5998;

}

  a.Gmail:hover {

background-color: #F60000;

border : 1px solid #F60000;

}