html {
    height: 100%;
    padding: 0;
	margin: 0;
}

body {
	height: 100%;
	background-color: #888;
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: hidden;
    overflow-x: hidden;
	padding: 0px;
	margin: 0;
}

.sidebar {
	margin-top: -8px;
	margin-left: -8px;
	height:90%;
	top: 10px;
	width: 60%;
	min-width: 300px;
	float: left;
	z-index: 1;
	position: relative;
	overflow-y: auto;
}

.expand {
	bottom: 5px;
	height: 40px;
	padding-top: 13px;
	display: block;
	background-color: #FF5503;
	left: 1.75%;
	width: 16%;
	z-index: 4;
	position: fixed;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	font-size: 25px;
	
}

.expand:hover {
	background-color:#D45500;
}

.expand:active {
	bottom: 4px;
}

.InnerContent {
    margin-left: 25px;
    background-color: #3F3F3F;
    width: 70%;
    height: auto;
	padding: 15px;
    padding-top: 25px;
	margin-top: 25px;
    margin-bottom: 25px;
    clear: right;
	color: #fff;
	font-family: 'Ubuntu', arial, serif;
}

.ProfileImage {
	float: right;
}

.content {
	-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;


	position: absolute;
	top:0;
	height: 100%;
	width: 80.5%;
	background-color: #000;
	-moz-box-shadow:    -3px 3px 8px 5px #222;
	-webkit-box-shadow: -3px 3px 8px 5px #222;
	box-shadow:         -3px 3px 8px 5px #222;
	z-index: 5;
	overflow-y: auto;
}

.content.closed {
	margin-left: 19.5%;
}
.content.open {
	margin-left: 60%;
}

::-webkit-scrollbar {
    width: 8px;
	height: 8px;
}

  a:link {
      color: #ffffff; text-decoration: none;
}
  a:active {
      color: #ffffff; text-decoration: none; 
}
  a:visited {
      color: #ffffff; text-decoration: none;
}
  a:hover {
      color: #ffffff; text-decoration: underline;
}

  #position {
      font-size:80%;
      font-style: italic;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(200,200,200,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(200,200,200,0.4); 
}

h1.first {
	text-align: left;
	margin-left: 10px;
}

h1.last {
	text-align: left;
	margin-left: 57px;
	margin-top: -16px;
}
 
  a.PageTitle {
	text-decoration: none;
  }

h1 {
	font-family: 'Orbitron', arial, serif;
	font-size: 40px;
	color: #fff;
	text-align: right;
	padding: 0;
	margin: 0;
	display: block;
}
  a.extLink {

    display : block;
    margin-bottom: 10px;
    
    font-size: 22px;
    
    text-decoration:none;
    
    width:100%;
    
    line-height:30px;
    
    vertical-align: middle;
    
    text-align:center;
    
    border : 1px solid #333333;
    
    background-color : #333333;
    
    color:#eeeeee;
    /*
     -moz-border-radius: 10px;
    
     border-radius: 10px;
     */
    
    font-family: 'Ubuntu', arial, serif;
    
    /* font-weight: bold; */


    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

  a.Google:hover {

background-color: #F2B50F;

border : 1px solid #F2B50F;

}

  a.Blogger:hover {

background-color: #FF6600;

border : 1px solid #FF6600;

}

a.Twitter:hover {

background-color: #33CCFF;

border : 1px solid #33CCFF;

}

  a.Facebook:hover {

background-color: #3B5998;

border : 1px solid #3B5998;

}

  a.Gmail:hover {

background-color: #F60000;

border : 1px solid #F60000;

}

  a.Memolane:hover {

background-color: #CCCCCC;

border : 1px solid #CCCCCC;

}

  a.LastFM:hover {

background-color: #F60000;

border : 1px solid #F60000;

}
  a.Digg:hover {

background-color: #14589E;

border : 1px solid #14589E;

}
  a.Fiverr:hover {

background-color: #CCCCCC;

border : 1px solid #CCCCCC;

}
  a.YouTube:hover {

background-color: #CC0000;

border : 1px solid #CC0000;

}

  a.FriendFeed:hover {

background-color: #0077FF;

border : 1px solid #0077FF;

}
  a.Quora:hover {

background-color: #990011;

border : 1px solid #990011;

}
  a.Pandora:hover {

background-color: #333366;

border : 1px solid #333366;

}
  a.Flickr:hover {

background-color: #FF0077;

border : 1px solid #FF0077;

}
  a.Yelp:hover {

background-color: #FF0022;

border : 1px solid #FF0022;

}
  a.StumbleUpon:hover {

background-color: #FF4400;

border : 1px solid #FF4400;

}
.column {
	float: left;
	padding: 1.5%;
	width: 30%;
}