body {
    background-color: #e6e6e6;
    color: #333;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 0;
    text-align: left;
	transition: 1s;
}
body.prerender {
	opacity: 0;
	margin-left: -50px;
}
h1 {
    font-size: 5em;
    font-weight: 300;
    padding: 0;
    margin: 0;
}
#dim {
  display: none;
}
h2, h3, h4 {
    font-weight: 400;
    margin: .5em 0;
    padding: 0;
}

.InnerContainer p {
    font-size: 1.25em;
    margin: 0 1em;
}
a {
    color: #6699ff;
    hyphens: auto;
    text-decoration: none;
    -ms-word-break: break-all;
    -epub-word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -epub-hyphens: auto;
}

#pageNav {
    background: #5997C0;
    font-size: 1.25em;
    z-index: 2;
}
#pageNav a {
    display:inline-block;
}
#pageNav a span {
    border-left: solid 1px #fff;
    color: #fff;
    display: inline-block;
    margin: .25em 1px .25em -1px;
    padding: .1em 20px .1em 21px;
}
#pageNav .navTitle span {
    font-size: 1.2em;
    margin: 0 1px 0 -1px;
	text-transform: uppercase;
}
.cropped {
    max-width: 800px;
    display: inline-block;
}
.position {
    float: right;
    font-size: 1em;
    margin-left: .1em;
    max-width: 33%;
    text-align: right;
}
.description, .employer {
    float: left;
    margin-right: .1em;
    max-width: 63%;
    text-align: left;
}
.ContactLink {
    float: right;
}
.ContactMethod {
    float: left;
}
.quoteBlock {
    display: block;
}
ul {
    margin: .5em 0;
    overflow: auto;
    padding: 0;
}
#footer {
    clear: both;
    max-width: 100%;
    overflow: hidden;
}
.ProfileImage {
    float: left;
    margin-right: 1em;
    width: 5em;
}
.CenteringContainer {
    display: table;
}
.CenteredElement {
    display: table-cell;
    vertical-align: middle;
}
.Card {
    background-color: #fff;
    border-radius: 3px;
    vertical-align: top;
	box-shadow: 0 .5em 1em #444;
}
.quoteBlock {
    font-style: italic;
}
.quoteBlock .source p {
    font-size: 1.25em;
    margin-top: .5em;
    text-align: right;
}
@media (min-width: 1500px) {
     #sidephoto {
        background-image: linear-gradient(to right, rgba(230,230,230, 1) 0%, rgba(230,230,230, 0) 300px), url('D2013-KJM-0703-243_flip_smallish.jpg');
        background-size: 100%;
        position: fixed;
        height: 100%;
        width: 40%;
        top: 2em;
        right: 0;
        z-index: -1;
		background-repeat-y: no-repeat;
    }
}
@media (min-width: 1000px) and (max-width: 1499px) {
    #sidephoto {
        background-image: linear-gradient(to right, rgba(230,230,230, 1) 0%, rgba(230,230,230, 0) 300px), url('D2013-KJM-0703-243_flip_small.jpg');
        background-size: 100%;
        position: fixed;
        height: 100%;
        width: 40%;
        top: 2em;
        right: 0;
        z-index: -1;
		background-repeat-y: no-repeat;
    }
}
@media (min-width: 600px) {
    #navToggle {
      display: none;
    }
    h1 a {
        display: inline-block;
        padding: 0.25em 0.75em;
        text-decoration: none;
    }
    #pageNav {
        width: 100%;
        position: fixed;
        top: 0;
    }
    #header {
        margin-top: 3.5em;
    }
    .navItem {
        background: linear-gradient(0deg, #91B1C7, #91B1C7);
        background-repeat:  no-repeat;
        background-position: 0 -2em;
        transition: .2s;
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -o-transition: .2s;
    }
    .navItem:hover, .active {
        background-position: 0 0;
    }
    .ListContainer {
        display: inline-block;
        margin: 1em;
        max-width: 325px;
        min-width: 250px;
        width: 30%;
    }
    .ListContainer>ul {
        padding: 0 1em 1em 1em;
    }
    .InnerContainer {
        padding: 1em 2em;
        overflow: auto;
    }
    .quoteBlock .quote {
        font-size: 2em;
        padding-left: .75em;
    }
    .extLink {
        background: #fff;
        display: block;
        float: left;
        margin: 0.5em 1em;
        min-height: 1em;
        min-width: 250px;
        max-width: 300px;
    }
    .singleLine {
        display: block;
        margin-bottom: 10px;
        overflow: hidden;
    }
    .updateText {
        display: block;
        overflow: hidden;
        padding: 0 10px;
    }
    .updateTitle {
        display: block;
        float: left;
    }
}
@media (max-width: 600px) {
  #navToggle span, #navToggle span:before, #navToggle span:after {
    transition: all 500ms ease-in-out;
    border-radius: 1px;
    height: 5px;
    width: 34px;
    background: black;
    position: absolute;
    display: block;
    content: '';
    top: 20px;
    left: 8px;
  }
  #navToggle span:before {
    top: -10px;
    left: 0px;
  }
  #navToggle span:after {
    top: 10px;
    left: 0px;
  }
  #navToggle.expanded span {
    background-color: transparent;
  }
  #navToggle.expanded span:before {
    transform: rotate(45deg);
  }
  #navToggle.expanded span:after {
    transform: rotate(-45deg);
  }
  #navToggle.expanded span:before, #navToggle.expanded span:after {
    top: 0;
  }
    #navToggle {
      transition: all 500ms ease-in-out;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
      background-color: #e6e6e6;
      height: 50px;
      width:50px;
    }
    #pageNav {
      transition: all 500ms ease-in-out;
      min-width: 300px;
      max-width: 100%;
      z-index: 2;
      position: fixed;
      height: 100%;
      left: -100%;
    }
    #dim {
      transition: background-color 500ms ease-in-out 0ms,
                  left 0ms linear 500ms;
      background-color: transparent;
      position:fixed;
      z-index: 1;
      left: -100%;
      top: 0;
      width: 100%;
      height: 100%;
      display: block;
    }
    #dim.expanded {
      transition: background-color 500ms ease-in-out 0ms,
                  left 0ms linear 0ms;
      left: 0px;
      background-color: rgba(0,0,0,0.5);
    }
    #pageNav a {
      display: block;
      width: 100%;
      border-bottom: 1px solid rgba(255,255,255, .25);
    }
    #content {
      transition: all 500ms ease-in-out;
      background: #e6e6e6;
      left: 0px;
      top: 0;
      width: 100%;
    }
    #content.expanded {
      overflow-y: hidden;
      overflow-x: hidden;
    }
    h1 a {
        display: block;
        padding: 0.25em;
        margin-left: 1em;
        text-decoration: none;
    }
    .ListContainer>ul {
        padding: 0 1em 1em 1em;
    }
    .ListContainer {
        display: block;
        margin: 1em auto;
        width: 100%;
    }
    .InnerContainer {
        padding: 1em .5em;
        overflow: auto;
        max-width: 100%;
    }
    .quoteBlock .quote {
        font-size: 1.25em;
        padding-left: 0;
    }
    .extLink {
        background: #fff;
        display: block;
        float: left;
        margin: 0.25em 0;
        min-height: 1em;
        width: 100%;
    }
    .singleLine {
        display: block;
        margin-bottom: 10px;
        overflow: auto;
    }
    .updateText {
        display: inline-block;
        margin: 0 10px;
    }
    .updateTitle {
        display: inline-block;
        vertical-align: top;
    }
}
.extLink .LeadLetter {
    background: #333;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:auto 70%;
    display: table-cell;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}
.extLink .InnerText {
    display: table-cell;
    font-size: 1.5em;
    padding: .25em 1em;
    text-align: center;
    vertical-align: middle;
}
.Google .LeadLetter {
    background-image: url('noindex/picons/social-040_google_plus.png');
}
.LinkedIn .LeadLetter {
    background-image: url('noindex/picons/social-011_linkedin.png');
}
.Blogger .LeadLetter {
    background-image: url('noindex/picons/social-020_rss.png');
}
.Twitter .LeadLetter {
    background-image: url('noindex/picons/social-003_twitter.png');
}
.Facebook .LeadLetter {
    background-image: url('noindex/picons/social-006_facebook.png');
}
.LastFM .LeadLetter {
    background-image: url('noindex/picons/social-012_last_fm.png');
}
.YouTube .LeadLetter {
    background-image: url('noindex/picons/social-018_youtube.png');
}
